policy_module(herencia, 1.100.1)

########################################
#
# Declarations
#

type herencia_t;
type herencia_exec_t;
init_daemon_domain(herencia_t, herencia_exec_t)

permissive herencia_t;

type herencia_initrc_exec_t;
init_script_file(herencia_initrc_exec_t)

type herencia_conf_t;
files_type(herencia_conf_t)

type herencia_var_lib_t;
files_type(herencia_var_lib_t)

type herencia_var_run_t;
files_type(herencia_var_run_t)

type herencia_port_t;
corenet_port(herencia_port_t)

########################################
#
# herencia local policy
#
allow herencia_t self:process { fork };

allow herencia_t self:fifo_file rw_fifo_file_perms;
allow herencia_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(herencia_t, herencia_conf_t, herencia_conf_t)
manage_files_pattern(herencia_t, herencia_conf_t, herencia_conf_t)

manage_dirs_pattern(herencia_t, herencia_var_lib_t, herencia_var_lib_t)
manage_files_pattern(herencia_t, herencia_var_lib_t, herencia_var_lib_t)
files_var_lib_filetrans(herencia_t, herencia_var_lib_t, { dir file })

manage_dirs_pattern(herencia_t, herencia_var_run_t, herencia_var_run_t)
manage_files_pattern(herencia_t, herencia_var_run_t, herencia_var_run_t)

sysnet_dns_name_resolve(herencia_t)
corenet_all_recvfrom_unlabeled(herencia_t)

allow herencia_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(herencia_t)
corenet_tcp_sendrecv_generic_node(herencia_t)
corenet_tcp_sendrecv_all_ports(herencia_t)
corenet_tcp_bind_generic_node(herencia_t)

gen_require(`
    type herencia_port_t;
')
allow herencia_t herencia_port_t:tcp_socket name_bind;

gen_require(`
    type herencia_port_t;
')
allow herencia_t herencia_port_t:tcp_socket name_connect;

domain_use_interactive_fds(herencia_t)

files_read_etc_files(herencia_t)

miscfiles_read_localization(herencia_t)

sysnet_dns_name_resolve(herencia_t)

allow herencia_t herencia_exec_t:file execute_no_trans;
allow herencia_t self:process setsched;
corecmd_exec_ls(herencia_t)
corenet_tcp_connect_http_port(herencia_t)
dev_read_urand(herencia_t)
fs_getattr_xattr_fs(herencia_t)
kernel_read_system_state(herencia_t)
